$grey-light: #d1d4d7;
$text-color: black;

Country {
	& .components-form-search-country-selector {
		position: relative;
		margin-bottom: 0;

		&__select {
			display: block;
		}

		.btn.dropdown-toggle {
			border: #eee !important;
			border-left: 1px solid $grey-light !important;
			box-shadow: none !important;
			background: #eee !important;
			color: $text-color !important;

			&:focus,
			&:hover {
				outline: none;
				border: $grey-light !important;
				border-left: 1px solid $grey-light !important;
				background: $grey-light !important;
				color: $text-color !important;
			}
		}
	}
}
